.dashBox {
  /* position: absolute; */
  width: 90%;
  height: 20%;
  background: #ffffff;
  border: 0.5px solid #8d8888;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.dashHeader {
  position: absolute;
  margin: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  padding-left: 30px;
  height: 16px;
  /* left: 66px;
top: 695px; */

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 0.25em;
  line-height: 12px;
  text-align: center;

  color: #000000;
}

.dashLeft {
  position: relative;
  width: 119px;
  height: 79px;
  left: 42px;
  top: 709px;
  background-color: orange;
}

.dashRight {
  position: relative;
  width: 119px;
  height: 79px;
  left: 237px;
  top: 709px;
  background-color: orange;
  border: green;
  height: 15%;
}

/*.dashCentre{
    position: realtive;
width: 119px;
height: 79px;   
left: 136px;
top: 709px;
background: orange;

}
.dashLeft{
    position: relative;
width: 119px;
height: 79px;
left: 42px;
top: 709px;
background-color: orange;

} */

/* .col {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.row {
  justify-content: center;
  --bs-gutter-x: unset;
  /* border: red 2px solid;  */
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 0.7em;
  line-height: 12px;
  text-align: center;

  color: #000000;
}

.row:nth-child(1) {
  font-size: 0.8em;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}

.row:nth-child(2) {
  height: 65%;
  padding-bottom: 0.25em;
}

.col {
  /* border: green 2px solid;  */
  padding-top: 0;
  padding-bottom: 0;
}
