  .offcanvas {
    background-color: rgba(255, 255, 255, 1);

  }

  .offcanvasHom {
    background-color: rgba(255, 255, 255, 0.5);

  }
  .offcanvasHeader {
    background-color: rgba(63, 142, 39, 0.85);

	@@ -17,20 +12,10 @@
    height: 8vh;
  }

  .navLinkHome {
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .navLink {
    color: #EF8D4B;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .navLinkLanding {
    text-decoration: none;
    color: black;
  }

  .heading {
    height: 20%;
	@@ -79,29 +64,23 @@
 }

 .navbar>.container {
    justify-content: flex-start;
    padding-left: 0;
    display: flex;
    flex-wrap: nowrap;
 }

  .title {
    letter-spacing: 0.05em;
    font-size:x-large;
    padding: 0;
    justify-self: center;
    margin-left: 0.5em;
  }

  .divc {
    border-radius: 10px;
    padding: 0.25em 0.5em 0.25em 0.5em;
    width: 100%;
    display: flex;
  }

  .logout {
    background-color: rgba(63, 142, 39, 1);  
    border: rgba(63, 142, 39, 1);
    margin-top: 2em;
  }
