.swipeBarCss {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 3px solid #FFEADB;
  margin-bottom: 1em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 100%
}
.swipeableList{
flex: unset;
height: unset;
width: 100%;
}

.actionDonate {
  background-color: green;
  display: flex;
  align-items: center;
  color: white;
  padding: 1em
}

.actionDelete {
  background-color: red;
  display: flex;
  align-items: center;
  color: white;
  padding: 1em
}