.row {
    justify-content: center;
    --bs-gutter-x: unset;
    height: 10vh

}

.row:nth-child(7) {
    margin-top: 1em
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
}
=======
}

>>>>>>> fdcf36157b38313b25bdd45353760b2bdc1ad2d1
