.row {
    justify-content: center;
    --bs-gutter-x: unset;
    height: auto;
    margin-bottom: 1em;
}
.row:nth-child(1) {
    margin-bottom: unset;
}
.row:nth-child(2) {
    margin-bottom: 0.5em;
}
.row:nth-child(4) {
    padding: 1em;

 height: 13vh;
 display: flex;
}

.row:nth-child(3) {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0 1em 0.5em 1em;
    margin-bottom: unset;

}

.row:nth-child(7) {
    height: 13vh;
    padding-right: 0.5em;
    padding-left: 0.5em;

}

.febtns {
    height: auto;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pantryTitle {
    background-color: #FCEADD;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
}
