
.searchCol {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.searchCol:nth-child(1){
    flex-direction: row;
    align-items: center;
}

.subPageNav {
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
}

.subBtn {
    padding: 0.75em;
    width: 30%;
    border-radius: 10px;
    background-color: #EF8D4B;
    border: unset;
}

.subBtn:nth-child(2) {
    background-color: rgb(241, 172, 121);
}

.search {
    background: #FCEADD;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

.btn {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}