/*.container {
  border: 2px solid red;
  height: 100vh;
}

.row {
  border: 2px solid blue;
}
*/

.innercontainer {
  border: 2px solid pink;
  height: 100%;
  padding: 2rem;
}

.body {
  padding: 1em;
  display: flex;
  flex-direction: column;

}

.container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  flex-wrap: nowrap;
  min-height: 40vh;
  padding-top: 1em;
  box-shadow: inset  0px -1px 8px rgba(0, 0, 0, 0.25);
}



.addItem {
  width: 100%;
  background-color: #e5e5e5;
  color: black;
  border: unset;
  border-radius: 10px;
}

.plus {
  justify-self: flex-end;
}

.dpiSVG {
  width: unset;
  align-self: center;
}

